
@{
    ViewBag.Title = "About_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <div class="content-area">
        <span class="navs col-xs-12 col-sm-6 col-md-4">About Us<div class="underline"></div></span>
        <div class="clearfix"></div>
    </div>
</div>

<div class="body-contents">
    <div class="content-area">
        <div class="aboutus">
            <div class="intro color-saffron">
                <div class="text-justify">
                    Humming Bird was started in 2005. We partner with corporates in India to help reduce their Business STAY
                    cost. We pioneered the concept of Boutique Residential Suites as an alternative
                    to expensive Star hotels.<br /> We offer the following:<br>&nbsp;
                </div>
                <div class="points hidden-overflow color-dark-grey ">
                    <div class="hidden-overflow no-padding col-md-4">
                        <div class="digit color-saffron pull-left">1</div><div class=" value pull-left">Short Stay</div><br><br>
                        <div class="digit color-light-grey pull-left">4</div><div class=" value pull-left">Corporate Housing</div>
                    </div>

                    <div class="hidden-overflow no-padding col-md-4">
                        <div class="digit color-light-grey pull-left">2</div><div class="value pull-left">Long Stay</div><br><br>
                        <div class="digit color-saffron pull-left">5</div><div class=" value pull-left">Corporate Guest House Management</div>
                    </div>

                    <div class="hidden-overflow no-padding col-md-4">
                        <div class="digit color-saffron pull-left">3</div><div class=" value pull-left">Relocation Housing</div><br><br>
                        <div class="digit color-light-grey pull-left">6</div><div class=" value pull-left corporate-guest">Residential Learning Centres</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="../img/ss-footer-contacts.png" class="ss-footer-contacts-image">
<div class="menu">
    <div class="content-area">
        <span class="navs col-xs-12 col-sm-6 col-md-4">Digital automation</span>
        <div class="clearfix"></div>
    </div>
</div>

<!-- <img src="http://staysimplyfied.buoyancy.co.in/wp-content/themes/StaySimplyfied/img/ss-footer-contacts.png" class="ss-footer-contacts-image">
<div class="middle-row">
    <div class="content-area">
        Over the last few years we work very closely with the various departments of the organisations and have deep understanding of their various pain points and their need
        to connect&#59; communicate &amp; collaborate seamlessly with regard to their employees business stay.
    </div>
</div> -->


<div class="logo-row">
    <div class="content-area">
        <div class="col-sm-6 col-md-6">
            <img src="../img/ss_aboutus_icon1.png" class="logo-image">
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="about-ss">
                With our deep understanding&#59; knowledge and insights of the needs of the business traveller we have built STAY SIMPLYFIED - an Online Hotel Concierge
                Platform for Business. We work with Start-ups; SME&#8217;s and large corporate to Digitally Automate their entire Business Stay.

                <div class="ss-border top"></div>
                <div class="ss-border bottom"></div>
                <div class="ss-dot top"></div>
                <div class="ss-dot bottom"></div>
            </div>
        </div>
    </div>
</div>

<img src="../img/ss-footer-contacts.png" class="ss-footer-contacts-image">
<div class="ready-stay">
    <h2>Ready Stay Simplyfied?</h2>
    <div class="contact-container">
        <div class="phone">
            <img src="../img/phone.png">
            <span><b>1800 425 3454</b></span>
        </div>
        <div class="email">
            <img src="../img/envelope.png">
            <span>sales@staysimplyfied.com</span>
        </div>
    </div>
</div>


