
@{
    ViewBag.Title = "Awards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <div class="content-area">
        <span class="navs col-xs-12 col-sm-4 col-md-3 pointer" onclick="loadUrl('http://www.staysimplyfied.com/index.php/company/media/')">Media<div class="underline"></div></span>
        <span class="navs col-xs-12 col-sm-4 col-md-6 pointer" onclick="loadUrl('http://www.staysimplyfied.com/index.php/company/award/')">AWARDS &amp; RECOGNITION</span>
        <div class="clearfix"></div>
    </div>
</div>

<div class="body-contents">
    <div class="content-area">
        <div class="awards-page stay-width">
            <div class="text">
                HummingBird has received much recognition over the years as a quality provider of business stay solutions. In addition, a number of awards
                have served to illustrate HummingBird&rsquo;s commitment to quality and the dedication of its employees.
            </div>

            <h3>CNBC EMERGING INDIA AWARD 2009</h3>
            <div class="image-row">
                <img src="../img/awards_2009.png" class="col-xs-12 col-sm-6 col-md-6">
                <img src="../img/media-clients.jpg" class="col-xs-12 col-sm-6 col-md-6">
            </div>

            <h3>CII-EXIM BANK AWARD FOR BUSINESS EXCELLENCE, 2011</h3>
            <div class="image-row">
                <img src="../img/award.jpg" class="col-xs-12 col-sm-6 col-md-6">
                <img src="../img/awards1.jpg" class="col-xs-12 col-sm-6 col-md-6">
            </div>
        </div>
    </div>

    <div class="video-row">
        <div class="content-area">
            <div class="left-content col-xs-12 col-sm-12 col-md-6">
                <img src="../img/YouTube.jpg">
            </div>
            <div class="right-content col-xs-12 col-sm-12 col-md-6">
                <div class="date">Aug 09, 2010 at 18:30 </div>
                <p>
                    <br>
                    Emerging India:<br>
                    Three entrepreneurial success stories CNBC TV 18 shows
                </p>
            </div>
        </div>
    </div>

</div>




