@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

@import url("style-mobile.css?a");
@import url("style-tab.css");
@import url("style-pc.css");



body{ font-family: 'Open Sans', sans-serif; margin: 0px; color: #666;}

h1,h2,h3,h4,h5,h6{ color: #E6802B; font-weight: 200; font-family: 'Lato', sans-serif; }
h1{ font-size: 55px;}

p{ font-family: 'Open Sans', sans-serif; font-weight: 200;}


.tabs a{font-weight: bold;}
.font-lato{ font-family: 'Lato', sans-serif; }
.font-openSans{ font-family: 'Open Sans', sans-serif;}

a{ color: #4e4e4e; font-family: 'Lato', sans-serif; font-size: 18px}
a:hover{text-decoration: none; color: #E6802B; transition: color 0.25s ease;}

.border-left{ border-left:  2px solid #4e4e4e;}
.border-right{ border-right:  2px solid #4e4e4e;}

.text-left{ text-align: left;}
.text-right{ text-align: right;}

.remove-left-padding{ padding-left: 0px;}
.remove-right-padding{ padding-right: 0px;}
.no-padding{ padding: 0px !important;}

.color-saffron{ color: #E6802B; }
.color-light-grey{ color: #c9c9c7; }
.color-dark-grey{ color: #4e4e4e; }

.hidden-overflow { overflow: hidden;}

.button{ background: #E6802B; color: #fff; border: 0px; font-size: 18px; font-weight: bold;}
.button:focus{ outline: none;}


.content-area{ width: 100%; margin: 0px auto;}
.header{ width: 100%; background: #fff; color: #4e4e4e; overflow: hidden; }

.header .top { width: 100%; padding: 0 5%; overflow: hidden;}
.header .top .logo{ float: left;}
.header .top .menu-container{ overflow: hidden; text-transform: uppercase; text-align: center;}
.header .top .menu-container .left{ width: 53%;}
.header .top .menu-container .right{ width: 37%;}

.header .bottom { width: 100%;padding: 10px;overflow: hidden;padding-right: 38px;}


.header a{ color: #4e4e4e; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 18px}
.header a:hover{text-decoration: none; color: #E6802B; transition: color 0.25s ease;}


.menu{ width: 100%; background: #e8944b; color: #fff; overflow: hidden; text-transform: uppercase;}
.menu span{ display: inline-block;}

.slider{ width: 100%;}
.slider-image{ width: 100%; height: 100%; position: relative;}
.slider-image img{ height: auto; width: 100%; position: relative;}
.slider-image .arrow-left{background: url('../img/ss_banner_digitalautomation_leftarrow.png'); left: 25px}
.slider-image .arrow-right{background: url('../img/ss_banner_digitalautomation_rightarrow.png'); right: 25px; }
.slider-image .arrow{ position: absolute; top: 50%; width: 20px; height: 40px; z-index: 100; background-size: 20px 40px; background-repeat: no-repeat; cursor: pointer;}

.slider .owl-carousel .owl-wrapper-outer{max-height: 330px;}

.tabs{ width: 100%; text-align: center; background: #f7f7f7; border-bottom: 2px solid #dcdcdc; overflow: hidden;}
.tab-image{ width: 100%;}


.digitize{width: 100%; text-align: center; position: relative; overflow: hidden;}
.digitize .bird-image{ position: absolute; width: auto; }
.digitize .bottom-image{ position: absolute; }
.digitize .widgets {  font-size: 18px; color: #4e4e4e; font-weight: 400;}
.digitize .widgets img{ height: auto; display: block; max-width: 120px;}
.digitize .widgets .header{ font-weight: 300;font-size: 18px;color: #E6802B;}
.digitize .widgets .desc{color: #999;}
.digitize .widgets .desc:hover{color: #E6802B;}

.med-font{font-weight: 200;}

#digitize h1{font-weight: 100;}

.democratize{ height: 100vh; margin-top: 2px; background-attachment: fixed; background-position: center center; background-size: 100% auto; background-image: url( ../img/ss_banner_democratize-with-icons.png ); text-align: center; background-repeat: no-repeat;}
.democratize img{ width: 100%; height: auto;}
.democratize h1{padding: 20px 0px;}
.democratize .text{color: #fff;font-size: 22px;font-weight: 100;}
.democratize .image img{max-width: 870px; margin: 28px 0px;}

.bi{ width: 100%; text-align: center; background-color: #EAE8EC;}
.bi .bird-image{ position: absolute; width: auto; }

.bi-widget-container{ width: 100%; position: relative; background: #EAE8EC; text-align: center;}
.bi-widget-container h2{font-size: 21px;margin-bottom: 2px;margin-top: 10px;}
.bi-widget-container p{font-size: 14px;}
.bi-widget-container .top-image{ width: 100%; z-index: 100;background-color: #fff;}
.bi-widget-container .bottom-image{ width: 100%; z-index: 100;background-color: #F9F9F9;}

.bi-widget-container .zip-booking-image{ display: block;max-width: 270px;}
.bi-widget-container .button{ color: #fff; border: 0px; font-weight: normal; margin-top: 10px;}
.bi-widget-container .stay-width.realtime{max-width: 1015px;margin: 8px auto;}
.bi-widget-container .image-container img{max-width: 174px;}

.bi-widget-container .widgets{ text-align: center; }
.bi-widget-container .widgets img{ display: block;}
.bi-widget-container .widgets h2{ font-weight: lighter;}
.bi-widget-container .widgets .small-font{color: #666; }

.footer .icons a{margin-right: 15px;}

.clients-testimony{ background: #f9f9f9; position: relative;  text-align: center; font-family: 'Lato', sans-serif; }
.clients-testimony .bird-image{ position: absolute; }
.clients-testimony .quest{ color: #E6802B;}

.clients-testimony p{ max-width: 1200px; margin: 0 auto;}

.client-images{ background: #fff;padding-top: 15px; padding-bottom: 0px;}
.client-images img{/* height: 120px; */ width: auto;  margin: 0 25px 10px; }
.client-images .client{display: inline-block;}

.media{ background: #D0D2D2; padding-top: 0px;}


.footer{ width: 100%; background:url(../img/ss_footer.png); color: #E6802B; overflow: hidden; background-size: cover;}
.footer .top .icons a{display: inline-block;}
.footer .top a{ color: #ccc; display: block;}
.footer .top a:hover{ text-decoration: none; color: #E6802B; transition: color 0.25s ease;}
.footer h4{ font-weight: bold; }
.footer .top{ width: 100%; overflow: hidden;}
.footer .bottom{ width: 100%; color: #fff; overflow: hidden;}
.footer .bottom .bottom-right{ overflow: hidden; font-weight: lighter; color: #ccc; font-size: 12px;}
.footer .bottom .bottom-left{ overflow: hidden; font-weight: lighter; padding: 0px; text-align: left;}


.footer .bottom .bottom-left a{ color: #ccc; }
.footer .bottom .bottom-left a:hover{ text-decoration: none; color: #E6802B; transition: color 0.25s ease; }

.footer .contactno{ color: #ccc; }
.footer .email{ color: #ccc;font-size: 14px;font-weight: normal;}
.footer .icons{ }



.form-box { background: #F7F7F7; padding: 25px 5%; position: relative; }
.form-box .bird-image{ position: absolute; }
.form-box .input-fields{ width: 100%; border: 1px solid #989897; font-weight: lighter;}
.form-box a{ color: #1467ae; font-weight: 300;}
.form-box a:hover{ color: #1467ae; text-decoration: none; color: #E6802B; transition: color 0.25s ease; }

.input-fields{ border: 1px solid #E6802B; background: #fff; color: #888; height: 40px; margin-right: 0.5%; padding: 5px 20px; font-size: 16px;}
.input-fields:focus{ outline: none;}
.input-field-30{ width: 23%;}
.input-field-20{ width: 17%;}
.input-field-15{ width: 13%;}


.body-contents{ overflow: hidden; }
.body-contents .content-area{ overflow: hidden;}
.body-contents .row { color: #343433; border-bottom: 1px solid #e5e5e4; overflow: hidden; }
.body-contents .row .right-content{ text-align: center; }
.body-contents .row .right-content img{ padding: 10px;}
.body-contents .row p{ font-weight: lighter;}
.body-contents .full-story{color: #E8944B;font-size: 16px;font-weight: 400;}

.body-contents .video-row { width: 100%; background: #f7f8f9; padding: 20px; overflow: hidden; text-align: center;}
.body-contents .video-row .right-content{ text-align: left; padding-left: 10%;}
.body-contents .video-row p{ font-weight: lighter; }


.two-column-text-area { text-align: justify; font-weight: lighter; overflow: hidden;max-width: 960px;margin: 0px auto;}
.two-column-text-area .page-title{ color: #E6802B; font-weight: lighter;  text-transform: uppercase;}

.title-image-bar{ padding: 20px 0px; background: #fafafa; position: relative; }
.title-image-bar .title{ text-transform: uppercase; color: #6e6e6e; display: inline-block; font-weight: bold; font-family: 'Lato', sans-serif; margin-top: 4px;}
.title-image-bar .stay-width{padding-left: 15px;}
.title-image-bar .first-block{max-width: 150px; text-align: center;}
.title-image-bar .second-block{text-transform: uppercase;color: #E6802B;font-weight: 300;font-family: 'Lato', sans-serif; font-size: 28px; margin:30px;}
.header-bottom-image{ width: 100%; position: relative; z-index: 100;}

.widgets-block-container { text-align: center; overflow: auto;}
.widgets-block-container .title{text-transform: uppercase; color: #E6802B; font-weight: 300; font-family: 'Lato', sans-serif; }

.widgets-block-container table.stay-width tr{vertical-align: top;}
.widgets-block-container table.stay-width tr td{border-top: 1px solid #E6802B; padding: 10px 0px;}
.widgets-block-container table.stay-width tr:first-child td{border-top: 0px;}
.widgets-block-container table.stay-width tr td:first-child{vertical-align: middle; border-top: 0px;}
.widgets-block-container table.stay-width tr td:first-child img{max-width: 100px;}

.widgets-block-container .cells{ color: #6e6e6e; text-align: left; }
.widgets-block-container .cells h3{ color: #E6802B; font-size: 17px; }

.ss-footer-contacts-image{ max-width: 100%;}

.ss-footer-contacts{position: relative; background: #fafafa; text-align: center; overflow: hidden; color: #7f7f7f; font-family: 'Lato', sans-serif; }
.ss-footer-contacts h1{ font-weight: lighter;}
.ss-footer-contacts .contact{ font-weight: 900; text-align: left;}
.ss-footer-contacts .email{ font-weight: normal; text-align: left;}

.aboutus .intro .digit{font-weight: 700;}
.middle-row{ background: #fafafa; text-align: center;}

.logo-row{ text-align: center; overflow: hidden; max-width: 960px;margin: 0px auto;}
.logo-row .about-ss{ text-align: left;  font-weight: lighter; position: relative; font-size: 18px;}

.logo-row .ss-border{ height: 30px; width: 2px; background: #e5e5e4; position: absolute;}
.logo-row .ss-border.top{ left: 0px; top: 0px}
.logo-row .ss-border.bottom{ left: 0px; bottom: 0px;}

.logo-row .ss-dot { width: 4px; height: 4px; background: #4e4e4e; position: absolute; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.logo-row .ss-dot.top{ left: -1px; top: 30px;}
.logo-row .ss-dot.bottom{left: -1px; bottom: 30px;}

.map-area{ width: 100%; overflow: hidden;}
.map-area .map { padding: 0px;}
.address-contact{ overflow: hidden;}
.address-contact .address{ overflow: hidden;}
.address-contact .contact{ overflow: hidden;font-weight: 400;font-size: 20px;}

.sns-block{ width: 100%; position: relative; overflow: hidden; height: 100px; text-align: center;}
.sns-block div{ padding: 0px;}
.sns-block .horizontal-line{ width: 100%; height: 1px; background: #e5e5e4; position: absolute; top: 50px;}
.sns-block .sns-dot{ width: 4px; height: 4px; background: #4e4e4e; position: absolute; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 49px;}
.sns-block .sns-dot.right{ right: 0px;}
.sns-block .sns-dot.left { left: 0px;}

.checkbox-group .check-boxes{ padding: 0px; color: #1467ae;}

.checkbox label { padding: 0px; font-size: 15px;}
.checkbox label:before { border-radius: 3px; } 
input[type=checkbox] {  display: none; }  
input[type=checkbox]:checked + label:before {  content: "\2713"; color: #4e4e4e; }
input[type=checkbox] + label:before {  display: inline-block ; content: "\2713 "; background: #f3f3f4; color: #f3f3f4; border: 1px solid #d8d8d7; text-align: center; line-height: 13px; margin-right: 15px; width: 25px; height: 25px; padding: 5px;}


.enquiry-box textarea{ height: 100px; border: 1px solid #4e4e4e; display: block; resize: none;}


.testimonials-container .testimonial-box{ text-align: center; font-weight: lighter; }
.testimonials-container .testimonial-box .testimonial{ border: 1px solid #dcdcdc; background: #F1F1F0; position: relative; color: #4e4e4e;}
.testimonials-container .testimonial-box .name{ font-style: italic; color: #000; font-weight: normal;}
.testimonials-container .testimonial-box .logo-image{ position: absolute; border: 2px solid #dcdcdc; display: block; left: 50%; top: -35px;}


.awards-page { text-align: center;}
.awards-page h2{ font-weight: lighter;}
.awards-page .text{ font-weight: 400;}
.awards-page .image-row{ overflow: hidden; max-width: 870px; }
.awards-page .image-row img{max-width: 435px;max-height: 264px;}

.demo-footer{ text-align: center;}
.demo-footer .content-area{ overflow: hidden;}
.demo-footer h2{ font-weight: lighter; margin: 10px auto; max-width: 675px; font-size: 23px;}
.demo-footer .points-container{ overflow: hidden;}
.demo-footer .points-container div{ overflow: hidden;}
.demo-footer .numeral{ font-weight: 800; font-family: 'Open Sans', sans-serif;}
.demo-footer .numeral.odd{ color: #E6802B;}
.demo-footer .numeral.even{ color:#c4c4c3;}

.demo-page{ text-align: center; position: relative;}
.demo-page.pc .image-row{ overflow: hidden;}
.demo-page.pc .image-row .image .label{ position: absolute;  background: #fff; color: #4e4e4e; z-index: 10; font-weight: 100; }

.page-popups {background: #ededed; text-align: center; color: #4e4e4e;}
.page-popups .images img{display: block;}
.page-popups .images .label{ color: #4e4e4e;}

.arrow-up { width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid #ededed; }

.table-header { width: 100%; overflow: hidden; text-transform: uppercase; font-weight: lighter; margin-bottom: 18px; margin-top: 20px; }

.table-container{ width: 100%; padding: 0px; overflow: auto;}

.table-container .dot { width: 10px; height: 10px; border-radius: 50%; display: inline-block; background: #E6802B; }
.table-container .pricing-table{ display: table; width: 100%; min-width: 900px; margin: 0 auto; font-size: 12px;color: #666;}
.pricing-table .text-center{ text-align: center;}
.pricing-table .text-left{ text-align: left; padding-left: 75px;}
.pricing-table .header-row{ font-size: 12px;}
.pricing-table.price tr{ height: 18px;}
.pricing-table.price tbody tr td:first-child{font-size: 15px;}
.pricing-table.price thead tr{font-size: 14px;}
.pricing-table.price thead tr td{padding-bottom: 15px;}
.pricing-table.price tfoot tr:first-child td{ border-top: 1px solid #E6802B;padding-top: 8px;}
.pricing-table.price tfoot tr:first-child td:first-child{border-top: none;}
.pricing-table tr td{padding: 5px 2px;}

.pricing-table .grey-row{ width: 100%; height: 50px; background: #e6e6e7; color: #6d6e73; text-transform: uppercase;}
.pricing-table .grey-row td{  padding-left: 20px;}

.pricing-table .width-100 { width: 100%;}
.pricing-table .width-35 { width: 35%;}
.pricing-table .width-15 { width: 15%;}

.pricing-table .border-bottom { border-bottom: 1px solid #E7E7E8;}

.features tr td:first-child{ color: #E6802B;font-weight: bold;}
.pricing-table-bottom-border{border-bottom: 1px solid #E6802B;}


.padding-left{padding-left: 20px;}
.empty-row{ width: 100%; height: 30px;}
.footer a{font-weight: normal;}

#testimony-container .item{max-width: 675px;margin: 0px auto;padding: 10px 15px;font-weight: 100; font-size: 20px;}
#testimony-container.owl-theme .owl-controls .owl-page span{border: 1px solid #E6802B; border-radius: 0px;background-color: transparent;}
#testimony-container.owl-theme .owl-controls .owl-page.active span{background-color: #E6802B}
#gmap_canvas {
color: #000;
margin-top: 8px;
margin-right: 5px;
width: 100%;
height: 300px;
}
#client-container{max-width: 968px;}
#client-container .item{ margin: 3px;}
#client-container .item img{ display: block; height: auto;}

.digitize-icons-container{}
.digitize-icons-container .startup-image{background: url('../img/ss_digitize_startup.png'); width: 125px; margin: 0px auto; background-repeat: no-repeat;    background-position: center; } 
.digitize-icons-container .startup-image:hover{background: url('../img/ss_digitize_startup_hover.png');background-repeat: no-repeat;background-position: 9px;} 
.digitize-icons-container .sme-image{background: url('../img/ss_digitize_sme.png'); width: 125px; margin: 0px auto; background-repeat: no-repeat;    background-position: center; } 
.digitize-icons-container .sme-image:hover{background: url('../img/ss_digitize_sme_hover.png');background-repeat: no-repeat;background-position: 15px 22px;} 
.digitize-icons-container .corporates-image{background: url('../img/ss_digitize_corporates.png?as=34'); width: 125px; margin: 0px auto; background-repeat: no-repeat;    background-position: center; background-size: 89px;} 
.digitize-icons-container .corporates-image:hover{background: url('../img/ss_digitize_corporates_hover.png?a=10');background-repeat: no-repeat;background-size: 90px;background-position: 17px;} 

.pointer{cursor: pointer;}
.ready-stay{text-align: center;padding: 15px 0px;background-color: #fafafa;}
.ready-stay .phone{display: inline-block;margin: 0px 50px;}
.ready-stay .email{display: inline-block;margin: 0px 50px;}
.ready-stay .phone img{margin: 0px 5px;}
.ready-stay .email img{margin: 0px 5px;}
.ready-stay .contact-container{margin-top: 15px; font-size: 20px;}
.ready-stay .contact-container img{margin: 0px 5px;}
.ready-stay > h2{margin-top: 0px; font-weight: 400;}
.sign-up-container .form-box{border: 1px solid #ddd;}
.login-container .form-box{border: 1px solid #ddd;}
.login-container .form-box{margin: 78px auto 55px auto;}
.media-page{max-width: 1032px;margin: 0px auto;}
.media-page .row{margin: 10px 5px;}
.media-page .row p{margin-bottom: 10px;}
.video-row.stay-width {max-width: 1032px;padding: 20px 0px;}
.demo-footer-image-container{}
.media-home.body-contents .content-area{text-align: center;}
.media-home {font-size: 32px;font-weight: 200;}

.slider-image .item img{   display: block;   width: 100%;   height: auto;}
.slider-parent-container {position: relative;}
.slider-parent-container .arrow-container img{width: 20px;}
.slider-parent-container .arrow-container .left-arrow{position: absolute;top: 42%; left: 15px; cursor: pointer;}
.slider-parent-container .arrow-container .right-arrow{position: absolute;top: 42%; right: 15px; cursor: pointer;}


.stay-width{max-width: 1150px; margin: 0px auto;}
.stay-width#digitize{max-width: 1024px;}
.top-right-menu{text-transform: uppercase;}
.top-right-menu .menu-div{display: inline-block;}
.top-right-menu .menu-div a{border-right: 2px solid grey;}
.top-right-menu .menu-div:last-child a{border-right: 0px;}

.top-header-container{margin-top: 15px;margin-bottom: 15px;}
.digitize-bottom{text-align: right;}
#digitize a{font-size: 14px; color: #000;}
.bi-top-image{background-color: #EAE8EC;width: 100%;}
.bi-top-image .right-image{float: right;}
.bi-top-image .right-image img{width: auto; max-width: 100px;}
.bi-top-image img{width: 100%;}
.view-video-button{margin: 0px auto;text-align: left;background-color: #EAE8EC;}
.view-video-button img{max-width: 100px;cursor: pointer;}
.bi-footer-image img{background-color: #F9F9F9;max-width: 100%; width: 100%;}
.ss-dot{width: 8px;height: 8px;background-color: #E8944B;border-radius: 50%;margin: 0px auto;}













/* search data(pooranam)*/   

.demo {
    width: 980px;
    margin: 0px auto;
  }
  .demo h1 {
    margin:33px 0 25px;
  }
  .demo h3 {
    margin: 10px 0;
  }
  pre {
    background: #fff;
  }
  @media only screen and (max-width: 780px) {
    .demo {
      margin: 5%;
      width: 90%;
    }
    .how-use {
      float: left;
      width: 300px;
      display: none;
    }
  }
  #tabInfo {
    display: none;
  }
