
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<div style="text-align:center; color:green;">
    <span>Booking Confirmed Successfully Please Check Your Email for Further Details...Thank you.</span>
</div>

<br />
<br />
<br />
<br />