@{
    ViewBag.Title = "Login";
}


<div class="menu">
    <div class="content-area">
        <span class="navs col-xs-12 col-sm-6 col-md-4 pointer" href="">LOGIN<div class="underline"></div></span>
        <span class="navs col-xs-12 col-sm-6 col-md-4 pointer" href="">NEW USER</span>
        <div class="clearfix"></div>
    </div>
</div>

<div class="body-contents">
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="content-area login-container">
            <div class="form-box">
                <img src="~/img/ss_element_bird.png" class="bird-image">
                <ul style="text-align:center; color: red;">@ViewBag.error</ul>
              
                <form id="new_customer" name="new_customer" action="" method="post" />
                <input type="text" class="input-fields input-field-20" placeholder="User Email" name="username" id="username">
                <input type="password" class="input-fields input-field-20" placeholder="Password" name="password" id="password">
                <button class="button" type="submit">Login</button>

                <div class="col-sm-6 col-md-4"><a href="#">Forgot Password ?</a></div>
                <div class="col-sm-6 col-md-4"><a href="#">New User ?</a></div>

                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>
