
@{
    ViewBag.Title = "Privacy_Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <div class="content-area">
        <span class="navs col-xs-12 col-sm-6 col-md-4 pointer" onclick="loadUrl('http://www.staysimplyfied.com/index.php/company/terms/')">TERMS OF SERVICE</span>
        <span class="navs col-xs-12 col-sm-6 col-md-4 pointer" onclick="loadUrl('http://www.staysimplyfied.com/index.php/company/privacy_policy/')">PRIVACY POLICY<div class="underline"></div></span>
        <div class="clearfix"></div>
    </div>
</div>

<div class="body-contents">
    <div class="content-area">
        <div class="two-column-text-area">
            <div class="page-title">USER AGREEMENT</div>
            <div class="col-md-12 remove-left-padding">
                <p>
                    This agreement (&ldquo;User Agreement&rdquo;) is between HUMMINGBIRD TRAVEL AND STAY PRIVATE LIMITED, a company incorporated under the Companies Act, 1956 and having its registered office at No. 122, Amar Jyothi Layout,
                    Domlur, Bangalore - 560071, Karnataka represented herein by one of its divisions, viz. HUMMINGBIRD HOLIDAYS (&ldquo;HummingBird&rdquo;) and you.<br><br>
                </p>
            </div>
            <div class="col-md-6 remove-left-padding">
                Your access of the website, viz., www.hummingbirdindia.com owned and operated by HummingBird (&ldquo;Website&rdquo;) and use of its portal, viz.,
                www.hbtravels.com (&ldquo;Portal&rdquo;) therein, is governed by the terms and conditions mentioned hereinafter. Please take a few minutes to review these terms and
                conditions as well as the privacy and security policy (&ldquo;Privacy and Security Policy&rdquo;). HummingBird may add to, change or remove any part of these terms and
                conditions, the Privacy and Security Policy at any time, without notice. Your access of the Website and use of the Portal constitutes your agreement to be bound by
                the terms and conditions herein. If you do not agree with any of the terms and conditions, HummingBird requests you to reconsider accessing the website and
                using the Portal. If you have any questions/clarifications regarding these terms and conditions, please click here to contact HummingBird.
                You shall be bound by the terms and conditions 	herein each time you access the Website or use the Portal.<br><br>

                Upon accessing the Website, you will be able to conduct searches across HummingBird&rsquo;s database for various travel services / travel packages / travel
                products / corporate stay properties and/or resort or hotel bookings HummingBird offers (&ldquo;services&rdquo;).<br><br>

                If you have access to the Portal, you shall be privy to a more comprehensive database of the services and your search will yield more detailed results. Use of the
                Portal will permit you to make bookings of the services you have selected and complete the bookings by making payment through a secure online payment
                gateway to HummingBird for the services.<br><br>

                The Portal may be used only by entering the unique login name and password provided by HummingBird to you. You shall keep and maintain such unique login
                name and password strictly confidential and not share or disclose them to any other person or permit any other person to use them other than as specifically
                authorized by your company and intimated to HummingBird. You are solely responsible and liable for any use/misuse of the login name and password
                and for all activities that occur thereunder. HummingBird, at its sole discretion, reserves its right to deny access to the Website and Portal or any
                portion thereof without notice.<br><br>


                You agree, understand and confirm that the credit card/debit card/other payment method details provided by you for paying for the services on the
                Portal will be correct and accurate and you shall not use any credit card/debit card/other payment option which is not lawfully owned and/or operated by you.
                HummingBird does not store or share any personal, financial, or statutory information provided by you on its Website and/or Portal as required by law.
                The Website and Portal contain a vast database of HummingBird&rsquo;s: (i) corporate stay properties; (ii) travel products; (iii) travel packages created after
                conducting painstaking research; and (iv) collation of resort and hotel information. Information regarding each of the above has been compiled by/for
                HummingBird after conducting extensive research and in many cases individual site visits to verify the data collected and constitutes the intellectual
                property of HummingBird. Accordingly, all rights in and to the aforesaid content are reserved by HummingBird.<br><br>

                Therefore, access of the Website and use of the Portal is only for you or your company&rsquo;s internal requirements. You shall not copy, distribute, exchange, modify, sell or transmit any content on the
                Website and Portal, including but not limited to any text, images, audio and video, for any business, commercial or public purpose.<br><br>

                As long as you comply with these terms and conditions, HummingBird grants you a non&ndash;exclusive, non&ndash;transferable, limited right to access the Website and use the Portal. You agree to
                not interrupt or attempt to interrupt the operation of the Website and Portal in any way. Access to the Website and use of the Portal does not transfer to
                you any ownership or other rights in the Website and Portal or its contents and shall be limited to the extent permitted herein.<br><br>

                HummingBird may add, change, discontinue, remove or suspend any content posted on the Website and Portal, including any features and/or specifications
                of products described or depicted on the Website and Portal, temporarily or permanently, at any time, without notice and without liability.<br><br>

                HummingBird reserves the right to undertake all necessary steps to ensure that the security, safety and integrity of HummingBird&rsquo;s services, Website
                and Portal as well as your interests, are well&ndash;protected.<br><br>

                As such, HummingBird may take various steps to verify and confirm the authenticity and validity of any booking made by you.<br><br>

                If HummingBird, in its sole and exclusive discretion, concludes that the bookings made by you are not or do not reasonably appear to be, authentic or valid,
                HummingBird may cancel the said booking at any time up to 48 hours before the scheduled date of travel. <br><br>

                The terms and conditions pertaining to the services availed off by you, including but not limited to prices, the cancellation policy, etc. shall be as provided for
                against the relevant services availed off by you.<br><br>

                Cancellation Policy - You will get 100% refund, if the cancellation request is sent to now@hummingbirdindia.com 48 hours prior to the booking date and NIL beyond 48 hours.
                HUMMINGBIRD DOES NOT WARRANT THAT THE SERVICES WILL BE FREE OF ERRORS OR WILL BE UNINTERRUPTED, OR THAT THE SERVICES WILL MEET YOUR REQUIREMENTS. THE SERVICES ARE PROVIDED
                ON AN &ldquo;AS IS&rdquo; BASIS AND HUMMINGBIRD SPECIFICALLY DISCLAIMS ALL WARRANTIES AND INDEMNITIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION ANY WARRANTY
                OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR ANY OTHER WARRANTY ARISING FROM THE COURSE OF PERFORMANCE OR COURSE OF

            </div>
            <div class="col-md-6 remove-right-padding">

                DEALING. ACCESS OF THE WEBSITE AND USE OF THE PORTAL IS AT YOUR SOLE RISK AND HUMMINGBIRD SHALL NOT BE LIABLE FOR ANY DAMAGES OF ANY
                KIND RELATED THERETO OR ARISING THEREFROM.<br><br>

                You are prohibited from posting or transmitting on the Website and Portal, any defamatory, libelous, obscene, pornographic, profane, threatening or
                unlawful material or any material that could constitute or encourage conduct that would be considered a criminal offense or give rise to civil
                liability, or otherwise violate any law. HummingBird assumes no liability or responsibility arising from the contents of any communications
                containing any defamatory, erroneous, inaccurate, libelous, obscene or profane material posted by any users. However, HummingBird shall take such steps
                as may be required, including to change, edit, or remove any material that is illegal, indecent, obscene or offensive, or that violates HummingBird&rsquo;s
                policies in any way, as soon as it becomes aware of the same.<br><br>

                HummingBird will fully cooperate with any law-enforcement authorities or court order requesting or directing HummingBird to disclose the
                identity of anyone posting such materials.<br><br>

                You and your company shall indemnify and hold indemnified and harmless HummingBird, from and against all claims and all direct losses, liabilities, obligations, damages, expenses and costs (including
                without limitation reasonable legal fees) brought against or suffered by HummingBird or any of its directors, employees or agents, resulting from,
                arising out of or relating to :-<br><br>

                a breach or non-performance by you of any of the terms and conditions contained herein; failure by you to adhere to the confidentiality
                obligations set out below; a breach or non performance by you of any law, rule, regulation, notification or other statutory or legal provisions or requirements; or
                any willful misconduct or negligent acts by you or any of the directors, employees or agents of your company.<br><br>

                You may travel to certain destinations which may involve greater risks than other destinations. You acknowledge and agree that such travel shall be
                undertaken by you/your company&rsquo;s employees entirely at your/their sole risk and cost. HummingBird requests you to consult respective local authorities with respect to travel prohibitions,
                warnings, announcements, weather conditions and advisories issued before availing of the services or undertaking the travel. <br><br>

                HummingBird does not accept liability for damages, losses, or delays that may result from improper documentation required for entry, exit, length of
                stay, or immigration purposes.<br><br>

                Further, HummingBird shall not be liable for the acts, errors, omissions, delays, cancellation, breach by or negligence of any air carriers, bus and/or train
                services, hotels, resorts or other service providers or on account of force majeure resulting in any loss or damage suffered, including, without limitation, to life
                or property, in the course of any travel undertaken pursuant to availing of the services. <br><br>


                In no event shall either party be liable to the other for any indirect, incidental, consequential, special or exemplary damages (including loss of profit or
                business) howsoever arising, whether under contract, tort or otherwise, even if informed about the possibility of the same. Further, in no event shall
                either party&rsquo;s liability for any damage in connection with the services provided/availed of hereunder exceed the amounts paid for the services where under
                such claim arose or damages were suffered. <br><br>

                You shall keep confidential all the content on the Website and Portal and any and all such content shall be used by you only for the purpose of deciding
                on the services to be availed off by you/your company. <br><br>

                You acknowledge that internet transmissions are never completely private or secure. You understand that any message or information that you send to or
                over the Website and Portal may be read or intercepted by others unless you are intimated by way of a notice/message which appears on the Website and Portal screen that a particular message
                is encrypted. <br><br>

                Sending a message to HummingBird does not cause HummingBird to have any special responsibility towards you.<br><br>

                No waiver by HummingBird of any provision of these terms and conditions shall be binding except as set forth in writing and signed by its duly authorized
                representative. If any dispute arises between you and HummingBird in connection with and arising from your actual or attempted access of the Website
                and use of the Portal or the services availed off thereunder, such dispute shall be referred to arbitration. The arbitration shall be conducted in
                accordance with the provisions of the Arbitration and Conciliation Act, 1996. The arbitration shall conducted by a sole arbitrator mutually appointed
                by the both of us. The venue for arbitration shall be Bangalore, India and language for arbitration shall be English. <br><br>

                These terms and conditions as well as the Privacy and Security Policy are governed by and shall be construed in accordance with the laws of the Republic of India. Subject to the provisions
                pertaining to arbitration, as provided for hereinabove, any dispute shall exclusively be subject to the jurisdiction of the appropriate courts situated
                at Bangalore, India. <br><br>

                If you have any clarifications regarding these terms and conditions or the services you may contact
                HummingBird at: <br>
                Address: No. 122, Amar Jyothi Layout, Domlur, <br>
                Bangalore &ndash; 560 071, <br>Karnataka.<br>
                E-Mail: stay@staysimplyfied.com or sales@staysimplyfied.com<br>
                Telephone: 1800-425-3454


            </div>
        </div>
    </div>
</div>



