@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<div style="text-align:center; color:#ff0000;">
    <span>Your Booking is Failure for some Reason Please Retry or Contact our Booking Team</span>
</div>

<br />
<br />
<br />
<br />